[v2board]
#... user.hdapi.work  name  黑洞云
#...... shan-cloud.xyz
#... yifei999.com  name  YIFEI
#... fastestcloud.xyz  name  FastFly
#... feiniaoyun.top  name  飞鸟云
#... www.ckcloud.xyz  name  JCBB
#...... console.lynet.works
www.zhenyejiedian.com  name  幻神
#... marslink.org  name  MarsLink
#... dageyun.net  name  大哥云
# momovpn.shop  buy  period=month_price&plan_id=7&coupon_code=momo2022
#... user.bafang.vip  name  八方云
## biubiufast.com  name  BIUBIU FAST
ckcloud.icu  name  云朵云
#... jiandanyun.tk  name  简单云
#...... www.airforce1.cyou  name  AIR FORCE
#... izm.rocks  name  芝麻
#... cooc.cloud  name  小白云
#...... kan.gar.ooo  name  Kangaroo✦Network  buy  cycle=month_price&plan_id=1  reg_limit  1
#...... pianyijc.xyz  name  便宜机场  buy  period=month_price&plan_id=2  reg_limit  1
# v2.sisc.ga  name  千叶neko机场  buy  period=month_price&plan_id=20  reg_limit  1

[sspanel]
#...... iacgbt.com
#... jsmao.xyz  name  加速猫
#... paopaocloud.com  name  paopaocloud  checkin  T
#...... xbygood.xyz
speedcat.ws  name  闪电猫  buy  coupon=free&shop=16&autorenew=0&disableothers=1  sub  2  checkin  T  name_eq_email  T
#... purefast.net  name  PFvpn  checkin  T  reg_limit  2
#... kuaiyin.info  name  快银  reg_fmt  B
bbs.cloudnetwork.pro  name  AyucLouD-Services  checkin  T  clash  1
shynia.com  name  酸奶VPN  checkin  T
#... v2.bujidao.org  name  百慕大里的小小布吉岛～  invite_code  vip  clash  1
fastlink.pro  name  FASTLINK  buy  coupon=599_f3cZ8bzm&shop=3&autorenew=0&disableothers=1  checkin  T  name_eq_email  T
#...... piligou88.top  name  霹雳狗加速  checkin  T
#......... airfree.cloud  name  Air Free  checkin  T
yypro.pro  name  云翼网络  buy  coupon=&shop=48&autorenew=0&disableothers=1  sub  2  checkin  T
cyanmori.com  name  青森  invite_code  uJun VxHh 42pR s7fK Aks0 aDpZ byh9 WhGM 7z6T  buy  coupon=&shop=15&autorenew=0&disableothers=1  checkin  T
